{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-wrapper">
	<form method="post" action=".">
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}
		<div class="button-wrapper submit">
			<input type="submit" value="{% trans 'Log in' %}" />
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
		<p><a href="{% url 'users_password_reset' %}">{% trans "Forgot password" %}</a></p>
		<p><a href="{% url 'users_register' %}">{% trans "Register" %}</a></p>
	</form>
</div>
{% endblock %}
