{% extends "base.html" %}
{% load i18n %}
{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referrer header to any 3rd party apps on the page. -->
<meta name="referrer" content="never">
{% endblock %}

{% block content %}
{% if validlink %}
	<div class="form-wrapper">
		<form method="post" action=".">
			{% if form.errors %}
				{% include "users/partials/errors.html" %}
			{% endif %}
			{% csrf_token %}
			{% for field in form %}
				{% include "users/partials/field.html" %}
			{% endfor %}
			<div class="button-wrapper submit">
				<input type="submit" value="{% trans 'Submit' %}" />
			</div>
		</form>
	</div>
{% else %}
	<p>{% trans "Password reset failed" %}</p>
{% endif %}
{% endblock %}
